*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    min-height: 100vh;
    vertical-align: middle;
}

.box{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: auto;
    vertical-align: middle;
    align-items: center;
    height: 300px;
    width: 100%;
    border: solid 2px gray;
    background: #bdbdbd;
}

.haikuGenerator-box{
    margin: auto;
}
